// Import necessary Bootstrap components
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

// Import Bootstrap Card styles
@import "./node_modules/bootstrap/scss/card";

#products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
}

.product-card {
    width: 18rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    background: #E2E2E2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out; // Smooth

    &:hover {
        transform: scale(1.05); // Scale effect on hover
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        padding: 1rem;
        text-align: center;

        .card-title {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .card-text {
            font-size: 0.9rem;
            color: #666;
        }

        .btn {
            margin-top: 1rem;
            width: 100%;
            background-color: #d27791; 
            color: white ; 
            border: none;

            &:hover {
                background-color: darken(#BE657E, 5%); // Darken on hover
            }
        }
    }
}
